


<!--<form action="/results" method="get" name="f1">-->

    <!--<input type="text" placeholder="enter" name="text">-->
    <!--<input type="submit">-->

<!--</form>-->
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>
<body style=" ">
<h1 class="animated infinite bounce" style="margin-top: 30px">Search your Movie Here</h1><br><br>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<form action="/results" method="get" name="f1">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" id="txtSearch"/>
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>